{% extends "base.html" %}

{% block content %}
<header
    class="fixed top-0 bg-white border-l border-2 border-t border-b border-indigo-600 w-[15.5em] h-screen shadow-md z-10">
    <nav class="container mx-auto px-4 py-3 items-center">
        <div
            class="rounded-full w-[130px] h-[130px] border-2 border-indigo-600 justify-center items-center flex">
            <img src="/static/images/profile.jpg" alt
                class="rounded-full w-[120px] h-[120px]">
        </div>
        <h1 class="text-xl font-bold text-indigo-600 mt-2">Ramandimbson Espoir Matieu
            Albertin</h1>
        <div
            class="bg-indigo-600 mt-3 text-white flex items-center text-lg p-2 w-[230px] absolute"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">
                <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914"/>
              </svg>Developpeur
            front-end</div>
            <ul class="space-y-8 mt-24">
                <li>
                    <a href="#section1" class="menu-link text-indigo-900 hover:text-indigo-400 flex items-center space-x-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                            <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z"/>
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
                          </svg>
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="#section2" class="menu-link text-indigo-900 hover:text-indigo-400 flex items-center space-x-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"/>
                            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z"/>
                          </svg>
                        <span>Education</span>
                    </a>
                </li>
                <li>
                    <a href="#section3" class="menu-link text-indigo-900 hover:text-indigo-400 flex items-center space-x-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                          </svg>
                        <span>Compétences</span>
                    </a>
                </li>
                <li>
                    <a href="#section4" class="menu-link text-indigo-900 hover:text-indigo-400 flex items-center space-x-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-check" viewBox="0 0 16 16">
                            <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z"/>
                            <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z"/>
                            <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                          </svg>
                        <span>Expériences</span>
                    </a>
                </li>
                <li>
                    <a href="#section5" class="menu-link text-indigo-900 hover:text-indigo-400 flex items-center space-x-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                          </svg>
                        <span>Centres d'intérêt</span>
                    </a>
                </li>
            </ul>
            

    </nav>
</header>

<!-- Contenu principal -->
<main class="">
    <section id="section1"
        class="h-screen shadow-b bg-cyan-100">
        <div class=" overflow-hidden flex h-screen items-center justify-center container mx-auto max-w-6xl">
            {% include "components/a.propos.html" %}
        </div>
    </section>
    <hr>
    <section id="section2"
    class="h-screen shadow-b bg-indigo-50">
    <div class=" overflow-hidden  h-screen items-center justify-center container mx-auto max-w-6xl">
            {% include "education.html" %}
        </div>
    </section>
    <section id="section3"
        class="h-screen flex items-center justify-center container mx-auto max-w-6xl">
        <h1 class="text-3xl font-bold text-yellow-600">
            {% include "competence.html" %}
        </h1>
    </section>
    <section id="section4"
        class="h-screen  flex items-center justify-center container mx-auto max-w-6xl">
        <h1 class="text-3xl font-bold text-yellow-600">
            {% include "experience.html" %}
        </h1>
    </section>
    <section id="section5"
        class="h-screen flex items-center justify-center container mx-auto max-w-6xl">
        <h1 class="text-3xl font-bold text-yellow-600">
            {% include "centre.interet.html" %}
        </h1>
    </section>
    
</main>
{% endblock %}