{% extends "base.html" %}

{% block content %}
<div class="px-[160px]">
  <div>
    <h1 class="text-2xl font-medium text-indigo-900 underline">Mon education</h1>
  </div>
  <div class="grid grid-cols-2 gap-6 p-4">
    <a href="https://www.cntemad.mg/" target="_blank" rel="noopener noreferrer" class="group">
      <div class="bg-white rounded-xl p-4 shadow-md hover:shadow-xl transform transition duration-300 hover:scale-105">
        <h1 class="text-lg font-semibold text-indigo-900 group-hover:text-indigo-600 mb-4">
          CNTEMAD (Centre de télé-enseignement à Madagascar)
        </h1>
        <img src="/static/images/cntemad.png" alt="CNTEMAD" class="w-full object-cover object-center rounded-lg h-40">
      </div>
    </a>
    <a href="https://web.facebook.com/photo/?fbid=26970487652597156&set=p.26970487652597156" target="_blank" rel="noopener noreferrer" class="group">
      <div class="bg-white rounded-xl p-4 shadow-md hover:shadow-xl transform transition duration-300 hover:scale-105">
        <h1 class="text-lg font-semibold text-indigo-900 group-hover:text-indigo-600 mb-4">
          CNTEMAD (Centre de télé-enseignement à Madagascar)
        </h1>
        <img src="/static/images/lpnya.png" alt="CNTEMAD" class="w-full object-cover object-center rounded-lg h-40">
      </div>
    </a>
  </div>
  
</div>
{% endblock %}