{% extends "base.html" %}

{% block content %}
    <div class="flex justify-between -mt-20 items-center relative">
        <div class=" px-[160px] space-y-6">
            <h1 class="text-6xl w-[100vh] font-bold text-indigo-900 mt-10">
                Bienvenue sur mon portfolio
            </h1>
            <p class="w-[100vh]">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio perspiciatis unde dicta aliquid eius saepe sapiente, nisi ducimus quis explicabo nulla itaque animi iste quaerat corrupti nesciunt tempora error neque!</p>
            <div class="flex items-center gap-4">
                <button class="bg-indigo-900 p-2 text-white font-medium rounded-lg px-6">Contact</button>
                <button class="bg-indigo-200 p-2 font-medium rounded-lg px-6 text-indigo-900">Envoyer email</button>
            </div>
            
        </div>
        <div>
            <div class="w-[24em] h-[24em] absolute top-0 bottom-0 -mx-60">
                <img src="/static/images/presentation.png" alt="" class="object-cover object-center">
                <!-- <h1 class="text-xl top-4 w-40 -mt-[21em] mx-60 text-center bg-gray-200 p-1 px-6 text-indigo-600">Bonjour</h1> -->
            </div>
        </div>
    </div>
{% endblock %}